* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {

	font-family: 'Open Sans', sans-serif;
  	padding-top: 5rem;
    background: linear-gradient(100deg, rgb(111, 248, 241) 11%, rgba(170,231,154,1) 84%);
	height:100%;

    a {
        text-decoration: none;
    }
}

body div{
    background-color: transparent;
}


a:hover {
	text-decoration: underline;
}

.contenedor { 
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

.contenedor__cards {
	margin: 70px 0;
}

.card {
	background: #FFF;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	transition-duration: 1s;

    .card:hover {
        transform: scale(1.2);
    }

    .card__thumbnail {
        margin-right: 20px;
        border-radius: 10px;
        overflow: hidden;
        display: inline-block;
    }

    .card__img {
        width: 20%;
        height: 10%;
        right: 20;
        border-radius: 25px;
    }

    .card__titulo {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        font-weight: normal;
        margin-bottom: 20px;
        padding-left: 20px;
    }

    .card__enlace {
        color: #000;
    }
    
    .card__extracto {
        line-height: 28px;
        color: #6D6D6D;
        margin-bottom: 20px;
        margin-left: 20;
        padding-left: 20px;
    }
}

.boton {
	border: none;
	min-width: 180px;
	height: 50px;
	padding: 0 30px; 
	background: #000;
	color: #fff;
	display: inline-block;
	border-radius: 100px;
	text-decoration: none;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	background: #403CC2;
	transition: .3s ease all;

    .boton__texto {
        font-weight: 600;
        border-radius: 100px;
    }
    
    .boton:hover {
        background: #1B1881;
        text-decoration: none;
    }
    
    .boton--absolute {
        position: absolute;
        right: 20px;
        bottom: -25px;
    }
    
   
    
    .boton--verde:hover {
        background: #437837;
    }
    
}
.boton--verde {
    background: #7BA771;
}


.frase {
	text-align: center;
	margin: 70px 0;

    .frase__texto {
        margin-bottom: 20px;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-style: italic;
    }
}



H1{
	color: black;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

h2{
	color: black;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}


p{
	text-align: center;
	font-style: italic;
}

.bordesredondeados{
	border-radius: 40px;
}

.imagenchica{
	width: 200px;
	height: 200px;
}


table {
    display: flex;
    justify-content: center;
    border:none;
    width: 100%;
    background-color: beige;
    margin-top: 50px;
    background: transparent;

 tr{
    background-color: beige;
    border-collapse: collapse;
 }
    
  
  
  td {
    text-align: center;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
 
}


div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



.estatico{
  position: fixed;
  left: 0;
  top: 0;
  background: rgb(193, 248, 202);
  height: 45px;
  width: 100%;
  z-index: 1;
}

.tabla{
    padding-left: 300px;
    text-align: center;
    max-width: 70%;
    margin-top: 50px;

  
}

.tabla ul {
	  padding: 20px;
	  background: #cce5ff;
	  margin: 5px;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    flex-wrap: wrap; 
}

header li{
	align-items: center;
	padding: 10px;
}

.contacto li{
	list-style: none;


}

form{
	display: flex;
	padding: 50px 0 0 0;
	justify-content: center;

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      input[type=submit] {
        width:15;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }

      textarea {
        width: 90%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
      }
      
      input[type=reset] {
        width:15;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=reset]:hover {
        background-color: #45a049;
      }

}

.vista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    flex-wrap: wrap ;

}


li{
	list-style: none;
}

footer{
	grid-area: footer;
	width: 100%;
    
}

img{
    width: 100%;
    height: 100%;

}

.contacto{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    align-items: center;
    flex-wrap: wrap; 
    width: 40%;
    height: 20%;
    padding: 30px;
    border-radius: 100px;
}

.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;   

}

/*style grid*/

 
#grilla {
    display: grid;
    grid-template-areas: 
    "nav header header"
    "nav productos logo"
    "footer footer footer";
    grid-template-rows: 100px 1fr 1fr 75px;
    grid-template-columns: 20% auto 15%;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    height: 100vh;
    margin: 0;

    section#productos {
        grid-area: productos;
    }
    
    
    nav {
        grid-area: nav;
    }
    
    imagen {
        grid-area: logo;
    }
    
    .grid-item {
        background: rgb(154, 231, 202);
        border: 1px solid black;
        padding: 20px;
        font-size: 1em;
    }

    header {
        grid-area: header;
        text-align: center;
        font-size: xx-large;
        z-index: 1;   
    }
    
}





.carousel-inner img {
    width: 40%;
    height: 40%;
	border-radius: 30px;

}	



.logos img{
    width: 40px;
    height: 40px;
    border-radius: 30px;
}


/* For mobile phones: */
@media only screen and (max-width: 768px) {
    
    .tabla{
        padding-left: 0px;
    }
}

@media only screen and (max-width: 768px) {
    
    body{
       width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    
    .estatico{
       display: flex;
       flex-wrap: wrap;
    }
      
}